Package: com.flux.olympus
Name: Olympus
Depends: mobilesubstrate
Version: 0.0.1-59
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: flux
Author: flux
Section: Tweaks
Installed-Size: 24
