Package: com.flux.olympus
Name: Olympus
Depends: mobilesubstrate
Version: 0.0.1-155
Architecture: iphoneos-arm
Description: Toggle stuff, from anywhere!
Maintainer: flux
Author: flux
Section: Tweaks
Installed-Size: 112
