<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Copyright © 2012-13, flux</string>
			<key>label</key>
			<string>Olympus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.flux.olympus.reloadPrefs</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.flux.olympusprefs</string>
			<key>key</key>
			<string>Social</string>
			<key>label</key>
			<string>Social Activities</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.flux.olympus.reloadPrefs</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.flux.olympusprefs</string>
			<key>key</key>
			<string>Messaging</string>
			<key>label</key>
			<string>Messaging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.flux.olympus.reloadPrefs</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.flux.olympusprefs</string>
			<key>key</key>
			<string>DismissAfterAction</string>
			<key>label</key>
			<string>Persist On Screen</string>
		</dict>
	</array>
	<key>title</key>
	<string>Olympus</string>
</dict>
</plist>
